.venu{
font-size: 20px;
    

}
.award{
    padding: 30px 0px 0px 0px;
    border-top: 1px dashed #ccc;
    margin: 30px 0px 0px 0px;

}
.inn_motion.people.leader{
    height: auto;
}
.award_1{
    float: left;
    width: 600px;

}
.award_2{
    float: left;
    margin-left: 45px;

}
.Deming{

    margin-top: 20px;
}
.venu_inner{
padding: 30px 0px 0px 0px;
    border-top: 1px dashed #ccc;
    margin: 30px 0px 0px 0px;

}
.venu_img{
text-align: center;
}
.venu_inner1{
    margin-top: 20px;
}
.venu_inner2{
padding: 30px 0px 0px 0px;
    border-top: 1px dashed #ccc;
    margin: 30px 0px 0px 0px;

}
.winning{
    height: 582px;
}
.tab_dakar{
width:100%;
margin-top: 15px;
}
.autidfin.corpoate{
    padding: 5px 0px 0px 4px;
}
.Audit_1{
margin-top: -15PX;
    width: 890px;
}
.Audit_2{
    margin-top: 20px;
	    width: 890px;
		padding: 30px 0px 0px 0px;
    border-top: 1px dashed #ccc;
    margin: 30px 0px 0px 0px;
}
.Audit_3{
    margin-top: 20px;
	    width: 890px;
		padding: 30px 0px 0px 0px;
    border-top: 1px dashed #ccc;
    margin: 30px 0px 0px 0px;
}
.Audit_4{
    margin-top: 20px;
	    width: 890px;
		padding: 30px 0px 0px 0px;
    border-top: 1px dashed #ccc;
    margin: 30px 0px 0px 0px;
}
.Audit_5{
    margin-top: 20px;
	    width: 890px;
		padding: 30px 0px 0px 0px;
    border-top: 1px dashed #ccc;
    margin: 30px 0px 0px 0px;
}
.Audit_6{
    margin-top: 20px;
	    width: 890px;
		padding: 30px 0px 0px 0px;
    border-top: 1px dashed #ccc;
    margin: 30px 0px 0px 0px;
}
.Audit_7{
    margin-top: 20px;
	   
}
.key_1{
    margin-top: -12px;
}
.key_2{
    margin-top: 35px;
}
.under{
text-decoration: underline;
}
.share{
margin-top: -60px;
}
.policies{
height: 677px;
}
.unclaimed{

height: 677px;
}
.unclaimed_1{
    margin-top: -65px;
}
.Conference{
    margin-top: -43px;
}
.address{
    margin-top:7px;
}
.raman{
    margin-left: 50px;
}
.address_1{
    margin-top: 7px;
}
.coporate{
    height: 677px;
}
.investor ul{
    list-style-type: none

}
.left_inves{
padding: 12px 0px 0px 0px;
border-top: 1px dashed #ccc;
margin: 10px 0px 0px 0px;
}
.investor ul li a{
        color: #727272;
}
.investor ul{
padding: 0px 0px 0px 0px;
}
.winning_2{
    margin-top: -15px;
}
.key{
    height: 509px;
}
.quarter_2015{
padding: 20px 0px 10px 0px;
    border-top: 1px dashed #ccc;
    margin: 25px 0px 0px 0px;
}
.quarter_2016{
padding: 20px 0px 10px 0px;
    border-top: 1px dashed #ccc;
    margin: 25px 0px 0px 0px;

}
.quarter{
    margin-top: 15px !important;
}
.Quarterly_height{
    height: 500px;
}

.size_annual{
    font-size: 18px;
    color: #000;
}
.annual_1{
    margin-top: -20px !important;
}
}
.annual_1_new{
     margin-top: 14px !important;
}


.annual_2{
    margin-top: 15px !important;
}
.Winning_size{
font-size: 18px !important;
}
.winning_line{
padding: 0px 0px 0px 0px;
    border-top: 1px dashed #ccc;
    margin: 30px 0px 0px 0px;
}
.dakar_line{

    margin-top: -15px !important; 
}
.dakar_line_1{
padding: 0px 0px 0px 0px;
    border-top: 1px dashed #ccc;
    margin: 30px 0px 0px 0px;
}
.center_dot.year2012{
height: 548px;
} 
.center_dot.year2008{
    height: 1608px;
} 
.center_dot.year2007{
    height: 271px;
} 
.center_dot.year2004{
        height: 800px;
} 
.center_dot.year1994{
    height: 245px;
    top: 47px;
}